<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMuQjOXEvsmP6zm_DD6o2rz0JhCkIdV9I</string>
	<key>GCM_SENDER_ID</key>
	<string>774612549287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joygroups.MyCommunityChat-iOS</string>
	<key>PROJECT_ID</key>
	<string>mycommchattingapp-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>mycommchattingapp-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774612549287:ios:937309e2a895355a6ea582</string>
	<key>DATABASE_URL</key>
	<string>https://mycommchattingapp-ios-default-rtdb.firebaseio.com</string>
</dict>
</plist>